@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    /* Cores plano de fundo */
    --profundo: #0F0E6B;
    --escuro: #09086E;
    --lilas: #BE74BE;
    --lilas-claro: #D481D2;
    --roxo-escuro: #703B94;
    --roxo-azulado: #56388D;
    --rosa: #A650A6;

    /* Fundos Dark */
    --bg: #06051C;
    --bg2: #0B0A28;
    --bg3: #100F35;
    --bg4: #16154A;

    /* Cores textos */
    --tx: rgb(236, 233, 247);
    --tx2: #9E9ABD;
    --tx3: #65618A;

    /* Status dos produtos */
    --amarelo: #BA7517;
    --amarelo-claro: #FAEEDA;
    --vermelho: #F80200;
    --vermelho-claro: #FCEBEB;
    --verde: #1D9E75;
    --verde-claro: #E1F5EE;

    /* Fontes */
    --dm-sans: "DM Sans", sans-serif;
    --dm-mono: "DM Mono", monospasce;
}

/* Geral */
@keyframes textAnimation{
    from {opacity: 0;}
    to {opacity: 1;}
}

body{
    background-image: linear-gradient(to bottom, var(--bg) 17% , var(--roxo-azulado) 60%, var(--roxo-escuro)80%, var(--rosa)94%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    animation-name: textAnimation;
    animation-duration: 4s;
}

button:hover{
    cursor: pointer;
}

/* Cabeçalho */
header{
    display: flex;
    justify-content: space-between;
    border-bottom: var(--tx) 1px solid;
    padding: 5px;
}

#header-buttons{
    position: relative;
    top: 2em;
}

#menu{
    background: transparent;
    color: var(--tx2);
    border: none;
}

#acess{
    background-color: rgb(236, 233, 247, 0.3);
    border: none;
    border-radius: 5px;
    padding: 4px;
    color: var(--tx);
    
}

/* Página inicial */
    /* Topo */

#top{
    display: flex;
    justify-content: space-between;
    flex: auto;
    margin-top: 0;
}
#estoque{
    mask-image: linear-gradient(to right, transparent, black 60%, black 100%);
}

#top-text{
    padding: 2em 0 0 2em;
    align-content: center;
}
#top-text>h2{
    color: var(--tx);
    font-family: var(--dm-mono);
    font-weight: 100;
    font-style: italic;
}

#top-text>p{
    color: var(--tx2);
    font-family: var(--dm-sans);
    font-weight: 300;
}

#top-text>button{
    background-color: rgb(236, 233, 247, 0.3);
    border: none;
    color: var(--tx);
    padding: 1em;
    border-radius: 10px;
}

    /*Meio*/

#carousel-cards{
    display: flex;
    width: 50%;
    margin: auto;
}

.card{
    border: 1px solid var(--tx2);
    color: var(--tx);
    padding: 30px;
    margin: 5px;
    width: 1000px;
}

