@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    /* Cores plano de fundo */
    --profundo: #0F0E6B;
    --escuro: #09086E;
    --lilas: #BE74BE;
    --lilas-claro: #D481D2;
    --roxo-escuro: #703B94;
    --roxo-azulado: #56388D;
    --rosa: #A650A6;

    /* Fundos Dark */
    --bg:  #06051C;
    --bg2: #0B0A28;
    --bg3: #100F35;
    --bg4: #16154A;

    /* Cores textos */
    --tx: rgb(236, 233, 247);
    --tx2: #9E9ABD;
    --tx3: #65618A;

    /* Status dos produtos */
    --amarelo: #BA7517;
    --amarelo-claro: #FAEEDA;
    --vermelho: #F80200;
    --vermelho-claro: #FCEBEB;
    --verde: #1D9E75;
    --verde-claro: #E1F5EE;

    /* Fontes */
    --dm-sans: "DM Sans", sans-serif;
    --dm-mono: "DM Mono", monospasce;
}

@keyframes textAnimation{
    from {opacity: 0;}
    to {opacity: 1;}
}


body{
    background:
        radial-gradient(
            ellipse at 20% 50%,
            rgba(15, 14, 107, 0.6),
            transparent 60%
        ),
        radial-gradient(
            ellipse at 80% 20%,
            rgba(112, 59, 148, 0.4),
            transparent 50%
        ),
        var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    animation-name: textAnimation;
    animation-duration: 4s;
}

.navbar{
    border-bottom: 1px solid var(--tx);
}

<!--Carousel-->
.carousel-inner{
    height: 50%;
    margin-left: 5%;
}
.card{
    background-color: transparent;
    color: var(--tx);
    border: solid 1px var(--tx);
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.15);

}

h2{
    color: var(--tx);
    font-family: var(--dm-mono);
    font-weight: 100;
}
p{
    color: var(--tx2);
    font-family: var(--dm-sans);
    font-weight: 200;
}

.carousel-item {
    min-height: 250px;
}

.carousel-item .card {
    min-height: 250px;
}

#initial-page{
    margin-top: 5%;
}

#navbarDropdown{
    color: var(--tx2);
    font-family: var(--dm-sans);
}

.dropdown-menu{
    background-color: var(--bg2);
    color: var(--tx);
}

.navbar-item{
    color: var(--tx);
}

.access{
    background-image: linear-gradient(to right, var(--lilas) 50%, var(--lilas-claro) 80%);
    border: none;
    color: var(--tx);
    border-radius: 10px;
    padding: 8px;
}

.access:hover{
    background-color: var(--bg);
    color: var(--tx);
}

#about-us{
    border-top: 1px solid var(--tx);
    margin-top: 2em;
    padding: 2em;
}

#footer{
    width: 100%;
    background-color: var(--bg);
    color: var(--tx);
    padding: 1em;
    margin: 2em 0;
}

